h1 {
    text-align: center;
}

.login {
    background-color: rgba(255, 255, 255, 0.65)
}

.maincontent {
    height: 60vh;
    width: 100%;
    border: 2px solid #ffff99;
    background-color: rgba(255, 255, 255, 0.65)
}

.chatBox {
    height: 20vh;
    width: 100%;
    border: 2px solid #ffff99;
    border-top: none;
    line-height: 10px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.65)
}

.playBox1, .vsBox, .playBox2{
    height: 100%;
    border: 1px solid #ffff99;
    border-top: none;
    border-bottom: none;
}

.vsBox{
    border: none;
}
.playBox1 {
    border-left: none;
}

.playBox2 {
    border-right: none;
}

button {
    width: 50%;
    height: 10%;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

.login {
    height: 5vh;
    width: 100%;
    border: 2px solid #ffff99;
    border-bottom: none;
}

.addP {
    margin-left: 35%;
}

.message {
    width: 100%;
    margin-right: 15px;
}

#message-input {
    width: 94%;
}

.chatbox  {
    overflow: scroll;
}

br {
    display: block;
    margin: 3px 0;
 }

h2 {
    font-size: 28px;
    margin-right: 20px;
    
}

.pickP1 {
    height: 100%;
    width: 100%;
}

.pickP2 {
    height: 100%;
    width: 100%;
}

body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}